!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title ? "ristrettogram - " +current_page.data.title : "ristrettogram - " + yield_content(:title)

    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    -# You may wish to remove the 'initial scale=1.0' for non-responsive layouts
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -# maximum-scale = 1.0 ?

    -# Place favicon.ico and apple-touch-icon(s) in the root directory

    = partial "partials/icons"

    = stylesheet_link_tag "screen"
    = javascript_include_tag "libs/modernizr-2.7.1.min"

  %body{:class => current_page.data.bodyclass}
    .container
      .logo-wrapper
        - link_to '/' do
          = image_tag "/images/logo/ristrettogram-logo.png", :alt => "ristrettogram - #{current_page.data.title}"
      .header-wrapper.col
        %header
          - if current_page.data.bodyclass == "home"
            %h1
              Explore the world’s best third wave cafes and roasters in seconds.
            %h2
              Take a fast-forward peek inside a cafe before you visit.

          - elsif current_page.data.bodyclass == "city"
            .details.back
              = link_to 'Back', '/'
              %h1
                Berlin
          - else
            %h1
              About us

      .clearfix

      #main-content{:role => "main"}
        -# Page content gets rendered here
        - if current_page.data.bodyclass == "home"
          .col.col1
            .cities
              %table
                %caption
                  %h3
                    Video tours of cafes in
                %tbody
                  %tr
                    %td.city
                      = link_to "Bangkok", "http://mysite.com"
                    %td.cafecount
                      = link_to "10", "http://mysite.com"
                  %tr
                    %td.city
                      = link_to "Berlin", "http://mysite.com"
                    %td.cafecount
                      = link_to "10", "http://mysite.com"
                  %tr
                    %td.city
                      = link_to "Budapest", "http://mysite.com"
                    %td.cafecount
                      = link_to "10", "http://mysite.com"
                  %tr
                    %td.city
                      = link_to "Chiang Mai", "http://mysite.com"
                    %td.cafecount
                      = link_to "10", "http://mysite.com"
                  %tr
                    %td.city
                      &nbsp;
                    %td.cafecount
                %tfoot
                  %tr
                    %td.contribute
                      = contribute_link
                    %td.icon
                      = contribute_link

        - if current_page.data.bodyclass == "city"
          .cafe.col1
            .video
              = image_tag "/images/temp/image-placeholder-the_barn.jpg"
              - link_to 'http://instagram.com' do
                .play-button
            .details
              .cafe-title
                .name
                  %h2
                    = link_to 'The Barn', '/'
                .forward
                  = link_to 'Forward', '/'
              .post-details
                - link_to '/' do
                  .avatar{:style => "background-image: url('/images/temp/avatar-ytspar.jpg');"}
                    %small
                      Avatar
                .left
                  .meta.username
                    %small
                      %b
                        = link_to '@ytspar', 'http://instagram.com/ytspar'
                  .meta.date
                    %small
                      = link_to '2d ago', 'http://instagram.com/ytspar'
                .right
                  .meta.likes
                    %small
                      = link_to '@12,349 likes', 'http://instagram.com/ytspar'
                      
                  .meta.comments
                    %small
                      = link_to '455 comments', 'http://instagram.com/ytspar'

          .cafe.col2
            .video
              = image_tag "/images/temp/image-placeholder-silo.jpg"
              - link_to 'http://instagram.com' do
                .play-button
                  %span
                    Play video
            .details
              .cafe-title
                .name
                  %h2
                    Silo Cafe a very long name so long that it stretches out the line and should expand to two lines
                .forward
                  = link_to 'Forward', '/'
              .post-details
                .avatar{:style => "background-image: url('/images/temp/avatar-nicoappel.jpg');"}
                  %small
                    Avatar
                .left
                  .meta.username
                    %small
                      @nicoappel
                  .meta.date
                    %small
                      2d ago
                .right
                  .meta.likes
                    %small
                      12,349 likes
                  .meta.comments
                    %small
                      455 comments

          .cafe.col1
            .video
              = image_tag "/images/temp/image-placeholder-the_barn.jpg"
              - link_to 'http://instagram.com' do
                .play-button
            .details
              .cafe-title
                .name
                  %h2
                    = link_to 'The Barn', '/'
                .forward
                  = link_to 'Forward', '/'
              .post-details
                - link_to '/' do
                  .avatar{:style => "background-image: url('/images/temp/avatar-ytspar.jpg');"}
                    %small
                      Avatar
                .left
                  .meta.username
                    %small
                      %b
                        = link_to '@ytspar', 'http://instagram.com/ytspar'
                  .meta.date
                    %small
                      = link_to '2d ago', 'http://instagram.com/ytspar'
                .right
                  .meta.likes
                    %small
                      = link_to '@12,349 likes', 'http://instagram.com/ytspar'
                      
                  .meta.comments
                    %small
                      = link_to '455 comments', 'http://instagram.com/ytspar'

          .cafe.col2
            .video
              = image_tag "/images/temp/image-placeholder-silo.jpg"
              - link_to 'http://instagram.com' do
                .play-button
                  %span
                    Play video
            .details
              .cafe-title
                .name
                  %h2
                    Silo Cafe a very long name so long that it stretches out the line and should expand to two lines
                .forward
                  = link_to 'Forward', '/'
              .post-details
                .avatar{:style => "background-image: url('/images/temp/avatar-nicoappel.jpg');"}
                  %small
                    Avatar
                .left
                  .meta.username
                    %small
                      @nicoappel
                  .meta.date
                    %small
                      2d ago
                .right
                  .meta.likes
                    %small
                      12,349 likes
                  .meta.comments
                    %small
                      455 comments

              = yield
        -else
          = yield
      
    .clearfix

    -# Footer
    = partial "partials/footer"

    -# Javascript includes
    = partial "partials/javascript"


