!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title ? "ristrettogram - " +current_page.data.title : "ristrettogram - " + yield_content(:title)

    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    -# You may wish to remove the 'initial scale=1.0' for non-responsive layouts
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -# maximum-scale = 1.0 ?

    -# Place favicon.ico and apple-touch-icon(s) in the root directory

    = stylesheet_link_tag "screen"
    = javascript_include_tag "libs/modernizr-2.7.1.min"

  %body{:class => current_page.data.bodyclass}
    
    = partial "partials/logo"

    .container
      %header
        - if current_page.data.bodyclass == "home"
          %h1
            Explore the world’s best third wave cafes and roasters in seconds.
          %h2
            Take a fast-forward peek inside a cafe before you visit.

        - elsif current_page.data.bodyclass == "city"
          .details.back
            = link_to 'Back', '/'
            %h1
              Berlin

        - else

      #main-content{:role => "main"}
        -# Page content gets rendered here
        - if current_page.data.bodyclass == "city"
          .video-container
            .video
              = image_tag "/images/temp/image-placeholder-the_barn.jpg"
              - link_to 'http://instagram.com' do
                .play-button

          .video-container
            .video
              = image_tag "/images/temp/image-placeholder-silo.jpg"
              - link_to 'http://instagram.com' do
                .play-button
                  %span
                    Play video

              = yield

        -else
          = yield
      
      -# Footer
      = partial "partials/footer"

    -# Javascript includes
    = partial "partials/javascript"


