#footer
  %footer
    .col1
      %section.creators
        %p
          %small
            %em
              &copy; #{DateTime.now.strftime("%Y")}
        %ul
          %li.name
            %small Yury
          %li.twitter
            %small= link_to "@ytspar", "http://twitter.com/ytspar"
        %ul
          %li.name
            %small Alexej
          %li.twitter
            %small= link_to "@heyalexej", "http://twitter.com/heyalexej"
        %ul
          %li.name
            %small Nico
          %li.twitter 
            %small= link_to "@nicoappel", "https://twitter.com/nicoappel"
      %section.bottom.open-source
        %ul
          %li.os-label
            %small
              This project is Open Source
          %li.github-link
            %small
              - link_to "http://github.com/ytspar" do
                %svg{:height => "14", :width => "14", :xmlns => "http://www.w3.org/2000/svg", :viewbox => "0 0 14 14"}
                  %image{:height => "14", :width => "14", "xlink:href" => "/images/icons/mark-github-brown.svg"}
                Github
    .col2
      %section.contact
        %ul
          %li.link
            %small
              = link_to "@ristrettogram", "http://twitter.com/ytspar"
        %ul.email
          %li.link
            %small
              = mail_to "ytspar+ristrettogram@gmail.com", "Send us an email"
      %nav.bottom
        %ul
          %li.about-link
            %small
              = link_to "About us", "/about-us.html"
          %li.contribute-link
            %small
              = contribute_link
          %li.home-link
            %small
              = link_to "Home", "/"
