#footer
  %footer
    .col1
      %section.creators
        %p
          %small
            %em
              &copy; #{DateTime.now.strftime("%Y")}
        %ul
          %li.name
            %small Yury
          %li.twitter
            %small= link_to "@ytspar", "http://twitter.com/ytspar"
        %ul
          %li.name
            %small Alexej
          %li.twitter
            %small= link_to "@heyalexej", "http://twitter.com/heyalexej"
        %ul
          %li.name
            %small Nico
          %li.twitter 
            %small= link_to "@nicoappel", "https://twitter.com/nicoappel"
      %section.bottom.open-source
        %ul
          %li.os-label
            %small
              This project is Open Source
          %li.github-link
            %small
              - link_to "http://github.com/ytspar" do
                = image_tag "/images/icons/github.png", :alt => "Github"
                Github
    .col2
      %section.contact
        %ul
          %li.twitter-label
            %small
              = image_tag "/images/icons/twitter.png", :alt => "Twitter"
              Tweets
          %li.link
            %small
              = link_to "@ristrettogram", "http://twitter.com/ytspar"
        %ul.email
          %li.email-label
            %small
              = image_tag "/images/icons/email.png", :alt => "Email"
              Email
          %li.link
            %small
              = mail_to "ytspar+ristrettogram@gmail.com", "Send email"
      %nav.bottom
        %ul
          //%li.terms-link
          //  %small
          //    = link_to "Terms", "/terms"
          %li.about-link
            %small
              = link_to "About Us", "/about-us"
          %li.contribute-link
            %small
              = mail_to "ytspar+ristrettogram@gmail.com", "Contribute",
                :title => "Email this article to a friend.",
                :subject => "Contribute a video",
                :body => "Instagram URL: %0D%0A Cafe name:"
          %li.home-link
            %small
              = link_to "Home", "/"
