---
title:          short video tours of coffee shops
bodyclass:      home
---

.cities
  %table
    %caption
      %h3
        Video tours of cafes in
    %tbody
      %tr
        %td.city
          = link_to "Bangkok", "http://mysite.com"
        %td.cafecount
          = link_to "10", "http://mysite.com"
      %tr
        %td.city
          = link_to "Berlin", "http://mysite.com"
        %td.cafecount
          = link_to "10", "http://mysite.com"
      %tr
        %td.city
          = link_to "Budapest", "http://mysite.com"
        %td.cafecount
          = link_to "10", "http://mysite.com"
      %tr
        %td.city
          = link_to "Chiang Mai", "http://mysite.com"
        %td.cafecount
          = link_to "10", "http://mysite.com"
      %tr
        %td.city
          &nbsp;
        %td.cafecount
    %tfoot
      %tr
        %td
          = link_to "Contribute a video", "http://mysite.com"
        %td.icon
          - link_to 'http://mysite.com' do
            = image_tag "/images/icons/arrow-right-small.png"
